@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap");
body {
  font-family: "Orbitron", sans-serif;
  background-color: #282c34;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #282c34;
}

.clock-container {
  text-align: center;
  background-color: #ff9b36;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.clock {
  font-size: 48px;
}
