body {
  background-color: #e2e2e2;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 20px;
  font-size: 3rem;
  color: rgb(0, 0, 0);
}

.header {
  display: flex;
  align-items: center;
}

.timer,
.errors,
.accuracy,
.cpm,
.wpm {
  background-color: #ffffff;
  height: 60px;
  width: 70px;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
}

.cpm,
.wpm {
  display: none;
}

.header_text {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
}

.curr_time,
.curr_errors,
.curr_accuracy,
.curr_cpm,
.curr_wpm {
  font-size: 2.75rem;
}

.quote {
  background-color: #ffffff;
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
}

.input_area {
  background-color: #ffffff;
  height: 80px;
  width: 40%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 15px;
  padding: 20px;
  border: 0px;
}

.restart_btn {
  display: none;
  background-color: #fae035;
  font-size: 1.5rem;
  padding: 10px;
  border: 0px;
}

.incorrect_char {
  color: rgb(255, 114, 114);
  text-decoration: underline;
}

.correct_char {
  color: rgb(2, 176, 2);
}
